:root {
  --color-text: #443A39;
  --color-text-highlight: #CBDCDC;

  --border-width: 6px;
  --border: var(--border-width) solid var(--color-text);
  --content-gutter: 8vmin;

  --pencil-max-width: 100vmin;

  --inner-padding: 4vmin;
  --small-padding: calc(0.5*var(--inner-padding));
  --fullpage-inner-height: calc(100vh - calc(2 * var(--content-gutter)));
  --fullpage-inner-width: calc(100vw - calc(2 * var(--content-gutter))- calc(2 * var(--border-width)));
  --footer-margin-top: 50px;
  --content-block-seperator: 50px;
  --font-lg: 11vmin;
  --font-md: 18pt;
  --font-md-mobile: 14pt;

  --textfont-size: var(--font-md);

  --line-height-dense: 0.85;
  --line-height-medium-dense: 0.9;
  --line-height-normal: 1.2;
  --font-sans: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@media (max-width: 125vh) {
  :root {
    --content-gutter: 4vmin;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

p {
  margin-top: 0
}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: underline;
}

h1 {
  z-index: 4;
  margin: 0;
  padding: var(--inner-padding);
  line-height: var(--line-height-normal);
  text-transform: uppercase;
  font-size: var(--font-lg);
  font-family: Baton, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  z-index: 4;
  margin: 0;
  padding: 0;
  line-height: var(--line-height-normal);
  text-transform: uppercase;
  font-size: 7vmin;
  font-family: Baton, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-normal);
  text-transform: uppercase;
  font-size: max(var(--font-md-mobile), 4vmin);
  font-family: Baton, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* define markdown header sizes */
.mk-h1 {
  font-size: 7vmin;
  padding-left: 0;
  padding-right: 0;
}

.mk-h2 {
  font-size: max(var(--font-md-mobile), 4vmin);
}

svg {
  max-width: 100%;
  max-height: 100%;
}

img {
  border-style: none;
  max-width: 100%;
}

* {
  /* FORBID USER SELECT EVERYWHERE */
  /* user-drag: none;*/
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

/* font declarations */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Roboto-Medium.woff) format("woff"),
    url(/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Baton';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Baton-Medium.woff) format("woff"),
    url(/fonts/Baton-Medium.ttf) format("truetype");
}

.tight {
  line-height: var(--line-height-dense);
}

/* `Layout` component specific styling */

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: var(--font-sm);
  text-align: center;
  margin-top: var(--footer-margin-top);
  box-sizing: border-box;
  min-height: 60px;
}

.footer-grid-15 {
  grid-template-columns: 1fr 5fr;
}

.footer-cell {
  border: var(--border);
  border-right: none;
  text-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.footer-cell:last-child {
  border-right: var(--border);
}

.container:first-child {
  margin-top: 0;
}

.container {
  height: var(--fullpage-inner-height);
  border: var(--border);
  margin-bottom: var(--content-gutter);
  margin-top: calc(2 * var(--content-gutter));
  position: relative;
}

.container-scaling {
  border: var(--border);
  margin-bottom: var(--content-gutter);
  margin-top: calc(1 * var(--content-gutter));
  position: relative;
}

.bordered {
  border: var(--border);
  position: relative;
}

.bordered-topless {
  border: var(--border);
  border-top: 0;
  position: relative;
}

.padded {
  padding: var(--inner-padding);
}

.hcentre {
  display: flex;
  justify-content: center;
}

.vcentre {
  display: flex;
  align-items: center;
}

.vcentre-inline {
  display: inline-flex;
  align-items: center;
}

.vcentred {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

/* main page specific css */

.programm-grid {
  padding: var(--inner-padding);
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  justify-content: center;
  gap: var(--inner-padding);
}

/* .programm-grid>* {
  max-width: 350px;
} */

/* @media (max-width: calc(700px + 20vw)) {
  .programm-grid {
    justify-content: center;
  }
} */


/* programm subpage-specific css */

.portrait {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
}

.portraits-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100%;
  height: 100%;
}

.portraits-container>* {
  flex: 1;
  min-width: 0;
}

.arrow-tickets {
  height: 7vmin;
  aspect-ratio: 2;
  margin-right: 2%;
}

/* classes that change behaviour for mobile width */

.halved-mobilefull {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right-half-border {
  border-left: var(--border);
}

.content-img-container>* {
  width: 50%;
  margin-left: var(--inner-padding);
  margin-right: var(--inner-padding);
}

.block-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: var(--content-block-seperator);
}

.block-container:nth-child(1) {
  margin-top: 0;
}

.block-container:nth-child(2) {
  margin-top: 0;
}

.ueber-uns-image {
  margin-left: calc(100% - 42vmin);
  position: relative;
  right: 0px;
}

.arrow-container {
  display: inline-block;
  height: 7vmin;
  aspect-ratio: 2;
  margin-right: 2%;
}

.arrow-container>svg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
}

.pencil {
  /* transition: transform 50ms linear; */
  user-select: none;
  pointer-events: none;
  position: absolute !important;
  width: 100%;
  max-width: var(--pencil-max-width);
  margin-left: calc(50% - calc(0.5 * var(--pencil-max-width)));
  /* transform: translate3d(-50%, 0, 0); */
}

.partner-container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
}

.partner-tile {
  --partner-minsize: 120px;
  --partner-size: 200px;
  min-width: var(--partner-minsize);
  width: var(--partner-size);
  max-width: var(--partner-size);
  min-height: var(--partner-minsize);
  height: var(--partner-size);
  max-height: var(--partner-size);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: var(--border); */
  /* border-radius: calc(0.1 * var(--partner-size)); */
  margin: 10px;
  padding: 10px;
}


@media (max-width: 125vh) {

  .block-container:nth-child(2) {
    margin-top: var(--content-block-seperator);
  }

  .halved-mobilefull {
    grid-template-columns: 1fr;
  }

  .ueber-uns-image {
    margin-left: 0;
  }

  .right-half-border {
    border-left: 0;
    border-top: var(--border);
  }

}

.footer-cell-sm-nolborder {
  border-left: none;
}

@media (max-width: 75vh) {
  .footer-cell-sm-nolborder {
    border-left: var(--border);
  }

  .partner-tile {
    --partner-size: calc(50vw - calc(2 * var(--inner-padding)) - calc(2 * var(--content-gutter)));
  }

  .mobile-halfpage-vert {
    height: calc(0.5 * var(--fullpage-inner-height));
  }

  .content-img-container>* {
    width: 100%;
    margin: 0;
  }

  /* mobile footer  */
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-grid-15 {
    grid-template-columns: 1fr;
  }

  .footer-cell {
    padding: var(--inner-padding);
    border: var(--border);
    border-bottom: 0;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }

  .footer-cell:last-child {
    border-bottom: var(--border);
  }

  :root {
    --textfont-size: var(--font-md-mobile);
  }

  html {
    font-size: var(--font-md-mobile);
  }
}

/* animation */

.bob {
  animation: bob 2.5s ease-in-out infinite;
}

@keyframes bob {
  0% {
    transform: translateX(-50%) translateY(50%);
  }

  50% {
    transform: translateX(-50%) translateY(-50%);
  }

  100% {
    transform: translateX(-50%) translateY(50%);
  }
}