:root {
  --color-text: #443A39;
  --color-text-highlight: #CBDCDC;
  --color-bg: #00A8E9;
  --color-bg-subpage: ##CBDCDC;

  --border: 6px solid var(--color-text);
  --content-gutter: 8vmin;

  --inner-padding: 4vmin;
  --fullpage-inner-height: calc(100vh - calc(2 * var(--content-gutter)));
  --footer-margin-top: 50px;
  --font-lg: 12vmin;

  --line-height-dense: 0.85;
  --font-sans: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: var(--inner-padding);
  line-height: var(--line-height-dense);
  text-transform: uppercase;
  font-size: var(--font-lg);
  font-family: Baton, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-dense);
  text-transform: uppercase;
  font-size: 7vmin;
  font-family: Baton, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  border-style: none;
  max-width: 100%;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

/* font declarations */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Roboto-Medium.woff) format("woff"),
    url(/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Baton';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Baton-Medium.woff) format("woff"),
    url(/fonts/Baton-Medium.ttf) format("truetype");
}

/* `Layout` component specific styling */

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: var(--font-sm);
  text-align: center;
  margin-top: var(--footer-margin-top);
  box-sizing: border-box;
  min-height: 60px;
}

.footer-cell {
  border: var(--border);
  border-right: none;
  text-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.footer-cell:last-child {
  border-right: var(--border);
}