:root {
  --color-text: #443A39;
  --color-text-highlight: #CBDCDC;

  --border-width: 6px;
  --border: var(--border-width) solid var(--color-text);
  --content-gutter: 8vmin;

  --inner-padding: 4vmin;
  --fullpage-inner-height: calc(100vh - calc(2 * var(--content-gutter)));
  --fullpage-inner-width: calc(100vw - calc(2 * var(--content-gutter))- calc(2 * var(--border-width)));
  --footer-margin-top: 50px;
  --content-block-seperator: 50px;
  --font-lg: 11vmin;
  --font-md: 18pt;
  --font-md-mobile: 14pt;

  --line-height-dense: 0.85;
  --line-height-normal: 1.2;
  --font-sans: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@media (max-width: 125vh) {
  :root {
    --content-gutter: 4vmin;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: var(--inner-padding);
  line-height: var(--line-height-normal);
  text-transform: uppercase;
  font-size: var(--font-lg);
  font-family: Baton, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-normal);
  text-transform: uppercase;
  font-size: 7vmin;
  font-family: Baton, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

img {
  border-style: none;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

/* font declarations */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Roboto-Medium.woff) format("woff"),
    url(/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Baton';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Baton-Medium.woff) format("woff"),
    url(/fonts/Baton-Medium.ttf) format("truetype");
}

.tight {
  line-height: var(--line-height-dense);
}

/* `Layout` component specific styling */

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: var(--font-sm);
  text-align: center;
  margin-top: var(--footer-margin-top);
  box-sizing: border-box;
  min-height: 60px;
}

.footer-grid-15 {
  grid-template-columns: 1fr 5fr;
}

.footer-cell {
  border: var(--border);
  border-right: none;
  text-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.footer-cell:last-child {
  border-right: var(--border);
}

.container:first-child {
  margin-top: 0;
}

.container {
  height: var(--fullpage-inner-height);
  border: var(--border);
  margin-bottom: var(--content-gutter);
  margin-top: calc(2 * var(--content-gutter));
  position: relative;
}

.bordered {
  border: var(--border);
  position: relative;
}

.bordered-topless {
  border: var(--border);
  border-top: 0;
  position: relative;
}

.padded {
  padding: var(--inner-padding);
}

.hcentre {
  display: flex;
  justify-content: center;
}

.vcentre {
  display: flex;
  align-items: center;
}

.vcentred {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.portrait {
  min-height: 100%;
  max-height: 100%;
}

.portraits-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100%;
  height: 100%;
}

.portraits-container>* {
  flex: 1;
  min-width: 0;
}

.arrow-tickets {
  height: 7vmin;
  aspect-ratio: 2;
  margin-right: 2%;
}

/* classes that change behaviour for mobile width */

.halved-mobilefull {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right-half-border {
  border-left: var(--border);
}

.content-img-container>* {
  width: 50%;
  margin-left: var(--inner-padding);
  margin-right: var(--inner-padding);
}

.block-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: var(--content-block-seperator);
}

.block-container:nth-child(1) {
  margin-top: 0;
}

.block-container:nth-child(2) {
  margin-top: 0;
}

@media (max-width: 125vh) {

  .block-container:nth-child(2) {
    margin-top: var(--content-block-seperator);
  }

  .halved-mobilefull {
    grid-template-columns: 1fr;
  }

  .right-half-border {
    border-left: 0;
    border-top: var(--border);
  }

}

@media (max-width: 75vh) {
  .content-img-container>* {
    width: 100%;
    margin: 0;
  }

  /* mobile footer  */
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-grid-15 {
    grid-template-columns: 1fr;
  }

  .footer-cell {
    padding: var(--inner-padding);
    border: var(--border);
    border-bottom: 0;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }

  .footer-cell:last-child {
    border-bottom: var(--border);
  }

  html {
    font-size: var(--font-md-mobile);
  }
}